<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Verification Email</title>
</head>

<body
  style="margin: 0; padding: 0; background-color: #F3F4F6; font-family: Arial, sans-serif;">
  <div style="padding: 40px 20px;">
    <div
      style="max-width: 390px; margin: 0 auto; background-color: #FFFFFF; padding: 16px; border: 1px solid #E5E7EB;">

      <!-- Header -->
      <div
        style="background-color: #F3F4F6; padding: 18px; margin-bottom: 28px; text-align: center;">
        <img
          src="https://res.cloudinary.com/dh5msgx99/image/upload/v1780654460/Logo_Image_wer791.svg"
          alt="360GMP"
          style="height: 28px; object-fit: contain;" />
      </div>

      <!-- Content -->
      <h2
        style="font-size: 16px; font-weight: 700; color: #111827;margin-bottom: 18px; margin-top: 0;">
        Login Verification
      </h2>

      <p
        style="font-size: 14px; color: #6B7280; margin-bottom: 16px;">
        Your verification code
      </p>

      <div
        style="font-size: 32px; font-weight: 700; color: #7C3AED; letter-spacing: 2px; margin-bottom: 24px;">
        {{resetToken}}
      </div>

      <p
        style="font-size: 14px; line-height: 22px; color: #6B7280; margin-bottom: 28px;">
        To complete your sign-in, please use the verification code below.
        This code will expire in 30 minutes
      </p>

      <!-- Footer -->
      <div
        style="background-color: #F3F4F6; padding: 16px; text-align: center; color: #4B5563; font-size: 14px; margin-top: 10px;">
        © 2025 360GMP. All rights reserved.
      </div>

    </div>
  </div>
</body>
</html>